*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* background-image: url("fondo_negro.png"); */
    background-image: url("Space.png");    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    height: auto;
    width: auto;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    border: 2px solid #000;
    border-radius: 25px;
}
.orbitron{ 
    font-family: "Orbitron", sans-serif; 
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white;
    text-shadow:2px 2px 5px rgb(255, 217, 0);
    margin-bottom: 10px;    
}

#panel{
    height: 146px;    
    background-color: #000;
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;    
}
.panel-item {
    height: 120px;
    background-color: #0e0c0c;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sound{width: 380px; gap: 6px;}
.view{width: 200px; gap: 6px;}
.keys-visible{width: 100px;}

.btn{
    cursor: pointer;
    height: 54px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 14px;
}
.btn-s{background-color: rgb(91, 121, 255);}
.btn-s:hover, .btn-s:active{ background-color: rgb(109, 140, 243); box-shadow: 3px 3px 10px rgb(34, 104, 255);}
.selected-s{ background-color: rgb(201, 109, 243); box-shadow: 3px 3px 10px rgb(237, 34, 255); 
    border: 1px solid #ffffff; color: #ffffff; font-size: large;}

.btn-v{background-color: rgb(61, 228, 89);}
.btn-v:hover, .btn-v:active{ background-color: rgb(109, 243, 131); box-shadow: 3px 3px 10px rgb(104, 255, 34);}
.selected-v{ background-color: rgb(109, 243, 176); box-shadow: 3px 3px 10px rgb(86, 255, 34); 
    border: 1px solid #ffffff; color: #ffffff; font-size: large;}

.btn-k .btn-n{background-color: rgb(189, 189, 189);}
.btn-k:hover, .btn-k:active{ background-color: rgb(168, 121, 121); box-shadow: 3px 3px 10px rgb(252, 66, 66);}
.btn-n:hover, .btn-n:active{ background-color: rgb(168, 121, 121); box-shadow: 3px 3px 10px rgb(252, 66, 66);}
.selected-k{ background-color: rgb(250, 40, 40); box-shadow: 3px 3px 10px rgb(252, 27, 27); 
    border: 1px solid #ffffff; color: #ffffff; font-size: large;}

.notes{
    display: inline;
    transform: translateY(-30px);
    visibility: hidden;
    color: rgb(231, 124, 2);
}
.keys{visibility:hidden}

#piano-keys{
    margin-top:10px;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #580000;
}

.white-key{
    position: relative;
    display: inline-block;
    height: 200px;
    width: 50px;
    background-color: #ffffff;
    border: 1px solid #000;
    text-align: center;
    line-height: 378px;
    color: #000;
    cursor: pointer;
}
.white-key:hover{ background-color: #d3d1d1; }
.white-key:active{ background-color: #f8fda8; }

.black-key{
    position: absolute;
    top: 0;
    z-index: 1;
    text-align:center;
    width: 30px;
    height: 120px;
    background: #000;
    line-height: 216px;
    color: #ffffff;
    cursor: pointer;
}
.black-key:hover{ background-color: #3d3d3d; }
.black-key:active{ background-color: #f8fda8; }

/* Posición de las teclas negras sobre las blancas */
.black-key:nth-child(22) { left: 35px; } /* DO# */
.black-key:nth-child(23) { left: 86px; } /* RE# */
.black-key:nth-child(24) { left: 185px; } /* FA# */
.black-key:nth-child(25) { left: 236px; } /* SOL# */
.black-key:nth-child(26) { left: 285px; } /* LA# */
.black-key:nth-child(27) { left: 385px; } /* DO# */
.black-key:nth-child(28) { left: 435px; } /* RE# */
.black-key:nth-child(29) { left: 534px; } /* FA# */
.black-key:nth-child(30) { left: 586px; } /* SOL# */
.black-key:nth-child(31) { left: 635px; } /* LA# */
.black-key:nth-child(32) { left: 736px; } /* DO# */
.black-key:nth-child(33) { left: 784px; } /* RE# */
.black-key:nth-child(34) { left: 886px; } /* FA# */
.black-key:nth-child(35) { left: 936px; } /* SOL# */
.black-key:nth-child(36) { left: 986px; } /* LA# */